<header class="px-3 py-2">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none"
      >
        <img src="images/BPBFOODS.png"
        class="bi me-2 logo"
        width="50"
        height="50"
        role="img">
      </a>

      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <a href="/" class="nav-link">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#home"></use>
            </svg>
            Home
          </a>
        </li>
        <li>
          <a href="/cart" class="nav-link">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#table"></use>
            </svg>
            Cart
            <% if(count!=0){ %><span><%- count %></span> 
              <% } else %>
              <span></span>
          </a>
        </li>
        <li>
          <a href="/catalouge" class="nav-link">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#grid"></use>
            </svg>
            Products
          </a>
        </li>
        <li>
          <a href="/login" class="nav-link">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#people-circle"></use>
            </svg>
            <% if(user===null) { %>
              User
            <% } else { %>
            <%- user.split("@")[0] %>  
            <% } %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
