.nav-link {
  color: black;
}
.logo {
  border-radius: 50%;
}

.footer {
  font-size: larger;
  color: black;
  font-weight: bolder;
}
.nav-link span {
  color: red;
  font-weight: bolder;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.featurette{
  padding: 30px;
}
.content{
  margin: auto;
}
.home{
  background-image: url("./images/back1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.para{
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.card-img-top{
  height:250px;
}